.navbar {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color: #800077;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #ffffff;
  margin: 10px;
  padding: 16px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
